<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>汽车管理系统</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        *{
            padding:0;
            margin:0;
        }
        .title{
            width: 100%;
            height:30px;
            background: #337ab7;
        }
        .title h5{
            color:#fff;
            padding-left: 20px;
            padding-top: 5px;
        }
        a{
            text-decoration: none;
        }
        .box{
            width: 100%;
            height: 500px;
            position: relative;
        }
        .left{
            float: left;
            width:200px;
            height:500px;
            border-right: 3px solid #ccc;
        }
        .right,.right1{
            position: absolute;
            top:0;
            left: 250px;
            width:600px;
            height:300px;
        }
        #tbody tr th{
            text-align: center;
        }
        .count{
            width:600px;
            height:300px;
            border-top:2px solid #ccc;
            padding-top: 20px;
        }
        .count .inp{
            width:100px;
        }
        .hide{
            display: none;
        }
        .show{
            display: block;
        }
    </style>
</head>
<body>
<div class="title">
    <h5>汽车租赁管理系统</h5>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/index">客人查询 </a></li>
                <li ><a href="/zulin">租赁登记</a></li>
                <li><a href="/guihuan">归还登记</a></li>
                <li class="active"><a href="/tongji">统计分析</a></li>
                <li><a href="/leibie">类别档案</a></li>
                <li><a href="/qiche">汽车档案</a></li>
                <li><a href="/tui" id="tui">退出系统</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="box">
    <div class="left">
        <table class="table  table-striped navbar-default">
            <tbody id="tbody">
            <tr>
                <th class="zu">租出统计</th>
            </tr>
            <tr>
                <th class="huan">归还统计</th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="right hide">
        <table class="table  table-striped navbar-default">
            <thead>
            <tr>
                <td></td>
                <td>行号</td>
                <td>租赁名称</td>
                <td>租赁人</td>
                <td>租赁时长</td>
                <td>每天租金</td>
                <td>合计金额</td>
                <td>租赁日期</td>
                <td>操作员</td>
            </tr>
            </thead>
            <tbody id="zulincar"></tbody>
        </table>
    </div>
    <div class="right1 hide">
        <table class="table  table-striped navbar-default">
            <thead>
            <tr>
                <td></td>
                <td>行号</td>
                <td>租赁名称</td>
                <td>租赁人</td>
                <td>实收金额</td>
                <td>找零金额</td>
                <td>归还日期</td>
                <td>操作员</td>
            </tr>
            </thead>
            <tbody id="zulincar1"></tbody>
        </table>
    </div>
</div>




<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/PageNav.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script>

    $(".zu").click(function () {
        $("#zulincar1").empty();
        $(".right").addClass("show");
        $(".right1").removeClass("show");
        $.get("/tongzu",function(data){
                var str="";
                var data=data.result;
                $.each(data, function (i, n) {
                        str="<tr class='shows '>" +
                            "<th><input type='radio' class='delbtn show' name='timu' data-sid='\" + data[i].sid + \"'/></th>"+
                            "<th class='sid'>"+data[i].sid+"</th>" +
                            "<th class='carname'>"+data[i].carname+"</th>" +
                            "<th class='proname'>"+data[i].proname+"</th>" +
                            "<th class='day'>"+data[i].day+"</th>" +
                            "<th class='daymoney'>"+data[i].daymoney+"</th>" +
                            "<th class='pay'>"+data[i].yingpay+"</th>" +
                            "<th class='yingpay'>"+data[i].yingpay+"</th>" +
                            "<th class='caozuoyuan'>"+data[i].proname+"</th>" +
                            "</tr>";
                        $("#zulincar").append(str);
                })
            })
    })
    $(".huan").click(function () {
        $("#zulincar").empty();
        $(".right1").addClass("show");
        $(".right").removeClass("show");
        $.get("/tonghuan",function(data){
            var str="";
            var data=data.result;
            $.each(data, function (i, n) {
                str="<tr class='shows '>" +
                    "<th><input type='radio' class='delbtn show' name='timu' data-sid='\" + data[i].sid + \"'/></th>"+
                    "<th class='sid'>"+data[i].sid+"</th>" +
                    "<th class='carname'>"+data[i].carname+"</th>" +
                    "<th class='proname'>"+data[i].proname+"</th>" +
                    "<th class='payall'>"+data[i].payall+"</th>" +
                    "<th class='paysum'>"+data[i].paysum+"</th>" +
                    "<th class='riqi'>"+data[i].riqi+"</th>" +
                    "<th class='caozuoyuan'>"+data[i].caozuoyuan+"</th>" +
                    "</tr>";
                $("#zulincar1").append(str);
            })
        })
    })












    $("#tui").click(function () {
        $.get("/tui",function (data) {
            alert("成功");
            window.location="/";
        })
    })

</script>


</body>
</html>